<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>snarp</title>
  <meta name="description" content="snarp">
  <meta name="author" content="snarp">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="main">

<%= @body %>

</div>
</body>
</html>